/* main */
body {
    margin:0;
    padding:0;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
}

/* popup */
.custom-popup .leaflet-popup-content-wrapper {
    background:#F7F7C3;
    color:#0e0e0e;
    font-size:14px;
    line-height:20px;
    /*opacity: 0.9;*/
}
.custom-popup .leaflet-popup-tip-container {
    width:310px;
    height:15px;
}
.custom-popup .leaflet-popup-tip {
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid transparent;
}

/* legend */
#legend {
    display:none;
}

.legend label, .legend span {
    display:block;
    float:left;
    height:15px;
    width:20%;
    text-align:center;
    font-size:9px;
    color:#808080;
}

/*graph in popup*/
.d3-graph {
    margin: 5px;
}
.axis path, .axis line {
    fill: none;
    stroke: #F7F7C3;
    shape-rendering: crispEdges;
}
.axis text {
 font-family: sans-serif;
    font-size: 10px;
  /*  display: none; */
}
#tooltip {
    position: absolute;
    text-align: center;
    width: 30px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 14px;
}